.heading {
  width: 60%;
  margin: 30px auto;
  text-align: center;
  color: #c52e42;
  border-radius: 10px;
}
form {
  width: 50%;
  margin: 30px auto;
  border-radius: 5px;
  padding: 10px;
}
form p {
  color: red;
  margin: 0px;
}
.task_input {
  width: 75%;
  height: 15px;
  padding: 15px;
  border: 2px solid #923e3e;
}
.btn {
  height: 39px;
  background: #f8f5ea;
  padding: 5px 20px;
  margin: 2px 0;
}
.btn:hover {
  background: #e9c6c6;
}

table {
  width: 50%;
  margin: 30px auto;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #cbcbcb;
}

th {
  font-size: 18px;
  color: #c52e42;
}

th,
td {
  border: none;
  height: 31px;
  padding: 2px;
}

tr:hover {
  background: #e9c6c6;
}

.task {
  text-align: left;
}

.edit {
  text-align: center;
}
.edit a {
  color: white;
  background-color: rgba(0, 128, 0, 0.767);
  padding: 1px 7px;
  border-radius: 3px;
  text-decoration: none;
}
.delete {
  text-align: center;
}
.delete a {
  color: white;
  background: #a52a2ad0;
  padding: 1px 7px;
  border-radius: 3px;
  text-decoration: none;
}
button {
  height: 39px;
  background: #f0ead4;
  color: #c52e42;
  border: 2px solid #923e3e;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0;
  margin-left: 90%;
}
button:hover {
  background: #e9c6c6;
}
